<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/MainColor"
        tools:targetApi="31">

        <activity
            android:name=".AdminPanel"
            android:exported="false" />
        <activity
            android:name=".StudentBookDetails"
            android:exported="false" />
        <activity
            android:name=".BookListStudent"
            android:exported="false" />
        <activity
            android:name=".DashboardStudent"
            android:exported="false" />
        <activity
            android:name=".studentPanel"
            android:exported="false" />
        <activity
            android:name=".LoginSystem"
            android:exported="true" />
        <activity
            android:name=".Portal"
            android:exported="false" />
        <activity
            android:name=".UpdateStudentActivity"
            android:exported="false"
            android:parentActivityName=".studentActivity" />
        <activity
            android:name=".BookActivity"
            android:exported="false" />
        <activity
            android:name=".addStudent"
            android:exported="false"
            android:parentActivityName=".studentActivity" />
        <activity
            android:name=".studentActivity"
            android:label="Student Management System" />
        <activity
            android:name=".Details"
            android:label="Book Details"
            android:parentActivityName=".BookActivity" />
        <activity
            android:name=".UpdateActivity"
            android:parentActivityName=".BookActivity" />
        <activity
            android:name=".AddActivity"
            android:label="Adding Book"
            android:parentActivityName=".BookActivity" />
        <activity
            android:name=".MainActivity"
            android:label="Book Maintenance" />
        <activity
            android:name=".Splash"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>