<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/MainColor"
        tools:targetApi="31">
        <activity
            android:name=".Student.FavouriteBookList"
            android:exported="false" />
        <activity
            android:name=".Student.StudentBookDetails"
            android:exported="false" />
        <activity
            android:name=".Student.BookListStudent"
            android:exported="false" />
        <activity
            android:name=".Dashboard.DashboardStudent"
            android:exported="false" />
        <activity
            android:name=".MainLogin.LoginActivity"
            android:exported="false"
            android:theme="@style/loginStyle" />
        <activity
            android:name=".BorrowingReturn.Portal"
            android:exported="false" />
        <activity
            android:name=".Librarian.UpdateStudentActivity"
            android:exported="false"
            android:parentActivityName=".Librarian.StudentActivity" />
        <activity
            android:name=".Librarian.BookActivity"
            android:exported="false" />
        <activity
            android:name=".Student.AddStudentActivity"
            android:exported="false"
            android:theme="@style/loginStyle"/>
        <activity
            android:name=".Librarian.StudentActivity"
            android:label="Student List" />
        <activity
            android:name=".Librarian.LibrarianBookDetails"
            android:label="Book Details"
            android:parentActivityName=".Librarian.BookActivity" />
        <activity
            android:name=".Librarian.UpdateBookActivity"
            android:parentActivityName=".Librarian.BookActivity" />
        <activity
            android:name=".Librarian.AddBookActivity"
            android:label="Adding Book"
            android:parentActivityName=".Librarian.BookActivity" />
        <activity
            android:name=".Dashboard.DashboardLibrarian"
            android:label="Book Maintenance" />
        <activity
            android:name=".SplashActivity.Splash"
            android:exported="true"
            android:theme="@style/splash_screen">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>